.dashboard-container {
    display: flex;
    width: 100vw;
}

.sidebar {
    width: 250px !important;
    background: var(--bg);
    height: 100vh;
    box-shadow: var(--lightShadow), var(--darkShadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.logo h1 {
    font-size: 1.2em;
    color: var(--primary-text);
    margin: auto 0;
}

.nav-menu {
    width: 100%;
    margin-top: 150px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px 0;
    border-radius: 12px;
    background: var(--bg);
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--secondary-text);
    font-weight: 600;
    font-size: 18px;
}

.nav-item span {
    margin-left: 15px;
}

.nav-item.active {
    box-shadow: inset 3px 3px 6px var(--darkShadow), inset -3px -3px 6px var(--lightShadow);
    color: var(--primary-text);
}

.nav-item:hover {
    opacity: 80%;
}

.main-content-d {
    flex-grow: 1;
    padding: 20px;
    background: var(--bg);
    opacity: 90%;
}

.profile-section {
    height: 600px;
}

.posts-sec {
    margin-bottom: 800px;
}

.settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 20px;
    color: var(--primary-text);
}

.settings-container h2 {
    text-align: center;
}

.settings-option {
    width: 300px;
}

.dark-theme {
    --bg: #2C2F33;
    --button: #25CEDE;
    --primary-text: #EEEEEE;
    --secondary-text: #687890;
    --lightShadow: #3B4451 -5px -5px 15px;
    --darkShadow: #000000 5px 5px 15px;

    .sidebar, .nav-item, search-form input {
        box-shadow: 7px 7px 14px #000000, -7px -7px 14px #3B4451;
    }

    .nav-item.active {
        box-shadow: inset 3px 3px 6px #000000, inset -3px -3px 6px #3B4451;
    }
}

.light-theme {
    --bg: #FFFFFF;
    --button: #EEEEEE;
    --primary-text: #687890;
    --secondary-text: #687890;
    --lightShadow: #FFFFFF -5px -5px 15px;
    --darkShadow: #88A0B7 5px 5px 15px;

    .sidebar, .nav-item, search-form input {
        box-shadow: 7px 7px 14px #88A0B7, -7px -7px 14px #FFFFFF;
    }
    .nav-item.active {
        box-shadow: inset 3px 3px 6px #88A0B7, inset -3px -3px 6px #FFFFFF;
    }
}