.footer {
	background-color: #282c34;
	color: #fff;
	padding: 10px 0;
	position: sticky;
    height: 300px;
    top: calc( 100vh - 300px );
}

.foot_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 91px;
}

.footer-section {
	flex: 1;
	margin: 10px;
	min-width: 100px;
}

.footer-section h4 {
	margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
	color: #61dafb;
}

.footer-section ul {
	list-style: none;
	padding: 0;
}

.footer-section ul li {
	margin-bottom: 10px;
}

.footer-section ul li a {
	text-decoration: none;
	color: #61dafb;
	transition: color 0.3s;
}

.footer-section ul li a:hover {
	color: #fff;
}

.social-icons a {
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
	color: #61dafb;
	transition: color 0.3s;
}

.social-icons a:hover {
	color: #fff;
}

.footer-bottom {
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #61dafb;
	margin-top: 20px;
}